@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(255, 255, 255);

    --color-gray-100: #00000010;
    --color-gray-300: #00000030;
    --color-gray-500: #00000050;
    --color-gray-700: #00000070;
    --color-gray-900: #000000c2;
    --color-gray    : rgba(0, 0, 0, 0.904);

    --color-white: #FFFFFF;
    --color-white-100: #FFFFFF10;
    --color-white-300: #FFFFFF30;
    --color-white-500: #FFFFFF50;
    --color-white-700: #FFFFFF70;
    --color-white-900: #FFFFFF90;

    --color-brown-900: #AA5E3F;
    --color-brown-700: #BD6C4C;
    --color-brown-600: #C2785B;
    --color-brown-300: #D39D88;
    --color-brown-200: #E2C2B6;
    --color-brown-100: #EEDAD3;
    --color-brown-50:  #f2e9e4;
}

//text-center text-4xl font-bold leading-snug tracking-tight text-white lg:text-4xl lg:leading-tight xl:text-6xl xl:leading-tight
h1 {
    font-size    : 2.5rem;
    line-height  : 3rem;
    font-weight  : 700;
    text-align   : center;
    color        : var(--color-gray);
    margin-bottom: 1.5rem;
    padding: 2px 0px 2px 0px;
}

h2 {
    font-size    : 2rem;
    font-weight  : 600;
    text-align   : center;
    line-height  : 2rem;
    color        : var(--color-gray);
    margin-bottom: 1.2rem;
    padding: 2px 0px 2px 0px;
}

h3 {
    font-size  : 1.5rem;
    font-weight: 600;
    text-align : left;
    line-height: 2rem;
    color      : var(--color-gray);
    padding: 2px 0px 2px 0px;
}

h4 {
    font-size  : 1.25rem;
    font-weight: 500;
    text-align : left;
    line-height: 1.5rem;
    color      : var(--color-gray);
    padding: 2px 0px 2px 0px;
}

h5 {
    font-size: 1.15rem;
    font-weight: 500;
}

span {
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    // line-height: 1.2rem;
    color: var(--color-gray-900);

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

span.light {
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    // line-height: 1.2rem;
    color: var(--color-gray-900);

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

p {
    text-align   : left;
    color        : var(--color-gray);
    margin-bottom: 1rem;
}

p.large {
    font-size: 1.5rem;
}

label {
    color: var(--color-gray-900);
}

input {
    outline      : none;
    padding      : 3px 5px 3px 5px;
    border-bottom: solid 1px var(--color-gray-500);
    
    &:focus {
        border-bottom: solid 1px var(--color-gray-900);
    }
}

textarea {
    outline      : none;
    padding      : 5px;
    border       : solid 1px var(--color-gray-500);
    border-radius: 5px;

    &:focus {
        border: solid 1px var(--color-gray-900);
    }
}

Link {
    text-decoration: underline;
}

ol {
    padding-top: 7px;
    padding-bottom: 5px;

    li {
        margin-bottom: 2px;
    }
}